* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

body {
  background-color: #121212;
  color: rgb(224, 223, 223);
}
