header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px 50px;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 18px;
  }

  a.logo {
    font-weight: 600;
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    gap: 15px;
  }

  .logout {
    text-transform: capitalize;
  }
}
